* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: white;
  font-family: "Nunito", sans-serif; }

.container {
  width: 90%;
  margin: 0px auto; }

.button_width {
  width: 200px;
  margin: auto; }

.button {
  font-size: 1.5em;
  border: 1px solid #668aa3;
  border-radius: 50px;
  background-color: #668aa3;
  padding: 10px 20px;
  color: white;
  margin: 30% auto 0% auto; }
  .button:hover {
    border: 1px solid #668aa3;
    color: #668aa3;
    background-color: white; }

a {
  color: inherit; }

a:hover {
  color: inherit; }

hr {
  width: 20px;
  height: 3px;
  margin-bottom: 2%;
  background-color: black; }

.drilldown a {
  padding: 0.7rem 1rem;
  background: none; }

nav {
  background-color: white;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 30000; }

.menu_logo_doucedepo li {
  list-style: none; }

.menu {
  padding: 2% 0%;
  margin: 0; }
  .menu ul {
    border-radius: 3px; }
  .menu li a {
    font-size: 1.5em;
    color: black; }

.button_bag {
  border: 1px solid #f268a8;
  border-radius: 30px;
  padding: 0px 10px;
  background-color: #f268a8; }

.button_account {
  border: 1px solid #668aa3;
  border-radius: 30px;
  padding: 0px 10px;
  background-color: #668aa3; }

span {
  color: white; }

footer {
  position: relative; }

.footer_bar_top {
  background-color: #fde5ea;
  margin-top: 5%; }
  .footer_bar_top h3 {
    font-family: "Sacramento", cursive;
    font-size: 4em;
    margin-top: 8%; }
  .footer_bar_top li {
    font-size: 1.5em;
    list-style: none; }
  .footer_bar_top label {
    font-size: 1.5em; }
  .footer_bar_top input {
    width: 350px;
    height: 30px;
    border: 1px solid #fde5ea;
    font-size: 1.5em; }
  .footer_bar_top button {
    font-size: 1.5em;
    border: 1px solid #f268a8;
    border-radius: 50px;
    background-color: #f268a8;
    padding: 10px 20px;
    color: white; }

.footer_socialnetwork {
  display: inline-block;
  width: 15%;
  margin-top: 10px;
  padding-right: 1%; }

.footer_logo_blog {
  margin-top: 7%; }

.footer_bottom_info {
  font-size: 1em; }

.footer_arrow_up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 3%; }

.relative {
  position: relative; }

.absolute {
  position: absolute;
  text-align: center;
  top: 175px;
  left: 400px; }

.article_product .article_product_content {
  margin-top: 50px; }
.article_product h3 {
  font-size: 4em;
  margin: 4% 0% 0% 0%;
  text-align: center;
  font-family: "Sacramento", cursive;
  background-color: #fde5ea; }
.article_product h4 {
  margin: 0;
  font-size: 4em;
  font-family: "Nunito", sans-serif; }
.article_product p {
  font-size: 1.5em;
  margin: 0; }
.article_product .button_product {
  margin-top: 30px; }

.article_values {
  width: 40%;
  margin: 5% auto; }
  .article_values p {
    font-size: 1.5em;
    text-align: center;
    padding: 2%; }

.article_personalisation h3 {
  font-size: 4em;
  margin: 6% 0% 0% 0%;
  text-align: center;
  font-family: "Sacramento", cursive; }
.article_personalisation p {
  font-size: 1.5em;
  text-align: center;
  margin-top: 3%; }

.article_flux_instagram h3 {
  font-size: 4em;
  margin: 6% 0% 0% 0%;
  text-align: center;
  font-family: "Sacramento", cursive; }
.article_flux_instagram .insta_hover:hover {
  transform: scale(1.1);
  transition: all 0.5s; }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  menu {
    display: none; } }
.product_selector {
  position: fixed; }
  .product_selector h1 {
    font-size: 4em;
    font-family: "Sacramento", cursive; }
  .product_selector ul {
    list-style: none; }
    .product_selector ul li {
      font-size: 1.5em;
      opacity: 0.5; }

.product_item {
  position: relative; }
  .product_item img {
    margin-top: 20%; }
  .product_item p {
    font-size: 1.5em;
    text-align: center;
    line-height: 0.7;
    margin-top: 5%; }

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.product_item:hover .image {
  opacity: 0.3; }

.product_item:hover .middle {
  opacity: 1; }

.text {
  background-color: #fde5ea;
  color: black;
  font-size: 1.6em;
  padding: 16px 32px; }

body.history_page {
  background-color: #eae7e7; }

.history_top_content {
  width: 100%;
  height: 550px;
  background: url("../images/history/baby_background.png") no-repeat;
  background-size: cover; }

.history_top_content h1 {
  font-family: "Sacramento", cursive;
  font-size: 9em;
  margin-top: 220px;
  margin-bottom: 100px;
  text-align: center; }

h1.title_instagram {
  font-family: "Sacramento", cursive;
  font-size: 9em;
  text-align: center;
  margin-top: 60px; }

p.history_description {
  text-align: center;
  font-size: 4em;
  font-family: "Nunito", sans-serif;
  margin: 0px 0px;
  padding: 100px 0px 0px 20px;
  font-size: 2.4em; }

h3.name_title_square {
  font-family: "Sacramento", cursive;
  font-size: 4em;
  text-align: center; }

.square_vertical_center {
  margin-top: 75px; }

.transition_element {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(#ecd1d1, #eae7e7); }

.transition_element #title {
  text-align: center;
  font-family: 'Sacramento', cursive;
  padding-top: 2em;
  font-size: 3em; }

.history_top_content img {
  margin-top: 120px; }

.flux_instagram {
  padding-top: 100px; }

/*# sourceMappingURL=style.css.map */
