/*.grid-x
{
  width:1000px;
  height:300px;
  overflow: auto;
  /*white-space: nowrap;
  justify-content: space-around;
}
.icon
{
  width:30%;
}
.cell
{
  display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

html{
  font-size: 62,5%
}

header{
  width:100%;
  background-color:#ece1e1;
}

body{
  background-color: #eae7e7;
}

.petite-histoire{
  width: 100%;
  height: 600px;
  background: url('../images/baby_background.png') no-repeat;
  background-size: cover;
}

.absolute #title{
  text-align: center;
  padding-top: 120px;
  font-family: 'Sacramento', cursive;
  font-size: 4.5em;
}

.icone{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /*margin-left: 242px;
  margin-right: 242px;
  margin-top: 60px;
  font-family: 'Open sans', cursive;
  text-align: center;
  font-size:1.3em;

}
.icon{
  width:42%;
}

.cut-element{
  height:auto;
  background-image: linear-gradient(#ecd1d1, #eae7e7);
  justify-content: center;
}

.logo-insta{
  width:3%;
  position: absolute;
  top: 640px;
  right: 43.5em;
}
.cut-element #title{
  text-align: center;
  font-family: 'Sacramento', cursive;
  padding-top: 2em;
  font-size: 3em;
}

.container{
  width: 90%;
  margin : 0px auto;
  background-color: #eae7e7;
}
.float-center{
  width: 40px;
  height: 40px;
  margin-top : 19%;
}

.phrase{
  font-family: 'Sacramento', cursive;
  text-align: center;
  margin-top: 15%;
  font-size: 2em;
}

.creation h2{
  font-size: 3em;
  font-family: 'Sacramento', cursive;
  border: 2px solid #de8496;
  border-radius: 100%;
  width: 6em;
  height: 4em;
  text-align: center;
  float: left;
  margin-left: 50px;
  padding-top:0.5em;
  margin-bottom: 1em;
}

.creation p{
  font-family: 'Open Sans', cursive;
  margin-top: 10em;
  margin-left: 400px;
}

.clearBoth{
  clear: both;
}

.selection{
  margin-top: 100px;
}

.selection p{
  float: left;
  width: 775px;
  font-family: 'Open sans', cursive;
  margin-bottom: 90px;
}

.selection h2 {
  font-size: 3em;
  font-family: 'Sacramento', cursive;
  border:2px solid #de8496;
  border-radius: 100%;
  width: 300px;
  height: 200px;
  text-align: center;
  float: right;
  padding: 20px;
  margin-bottom: 90px;
  margin-right: 60px;
}
*/
img
{
  width:10%;
  height: auto;
}
