//font-family: 'Sacramento', cursive;
//font-family: 'Open Sans', sans-serif;
// rose fde5ea
// 98cac9 bleu

body
{
	width:1050px;
	.collections
	{
		text-decoration:none;
		border: 2px solid black;
		display: flex;
		flex-direction: column;
		width:220px;
		height:250px;
		margin-left:30px;
		font-family: 'Open Sans', sans-serif;
		float: left;
	}	
	#cesure
	{
			position : relative;
			top:-12px;
			width:200px;
			height:2px;
			background-color:black;
	}
		
	#prix
	{
			opacity:0.5;
			font-size: 12px;
			margin-top:-10px;
			display:flex;
			justify-content: center;
	}
		
	.products
	{
		border : 3px solid red;
		font-family: 'Sacramento', cursive;
		font-size: 20px;
		display:flex;
		flex-wrap:wrap;
		width:750px;
		height: 900px;
		float:right;
		
		img 
		{
   			display:flex;
			justify-content: center;
   			height: auto;
   			width: 60%;
   			margin: auto;
		}
		.item
		{
			
		}
		#titre
		{
			margin:10px;
		}

		#bavoirN2
		{
			margin-left: 20px;
		}
		#bavoirN1
		{
			margin-left: 25px;
		}
		#toudouxLapinou
		{
			margin-top: -11px;
		}
		#ProtegeCarnet
		{
			margin-top: -20px;
		}
		#tapisALanger
		{
			margin-top: 20px;
		}
		#oiseauMusical
		{
			margin-top: 23px;
			margin-left: 20px;
		}
	}
}
