body
{

	.pagePanier
	{
		margin-left: -100px;
		margin-top: -20px;
		font-size: 70%;
		height:20px;
		background-image:linear-gradient(#EEEEFF, #FFFFFF);
		z-index:1000
	}
	
	#number
	{
		width:10px;
		height:20px;
		font-size: 13px;
		margin-top:40px;
	}
	#art
	{
		width:100px;
		height:20px;
		font-size: 12px;
		margin-left:12px;
		margin-top: -17px;
	}
	button 
	{
    	background:none!important;
    	color:inherit;
    	border:none; 
    	padding:0!important;
    	font: inherit;
    	/*border is optional*/
    	border-bottom:1px solid #444; 
    	cursor: pointer;
	}
	.container
	{
		width:1010px;
		height:2000px;
		margin: auto;
	}
	.collections
	{
		text-decoration:none;
		display: flex;
		flex-direction: column;
		width:220px;
		height:300px;
		margin-left:30px;
		font-family: 'Open Sans', sans-serif;
		float: left;
	}	
	#cesure
	{
			position : relative;
			top:-12px;
			width:200px;
			height:2px;
			background-color:black;
	}
		
	#prix
	{
			opacity:0.5;
			font-size: 12px;
			margin-top:-10px;
			display:flex;
			justify-content: center;
	}
		
	.products
	{
		margin-top: 30px;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		display:flex;
		flex-wrap:wrap;
		width:750px;
		height: 900px;
		float:right;
		
		.lapage
		{
			margin-top:-50px;
		}
		img
		{
   			display:flex;
			justify-content: center;
   			height: auto;
   			width: 60%;
   			margin: auto;
   			transition: 0.3s;
   			border-radius: 5px;
   			cursor: pointer;
		}
		img:hover
		{
			opacity:0.8;
		}
		.item
		{
			height: 240px;
		}
		#titre
		{
			margin:10px;
		}

		#bavoirN2
		{
			margin-left: 20px;
		}
		#bavoirN1
		{
			margin-left: 25px;
		}
		#toudouxLapinou
		{
			margin-top: -4px;
		}
		#ProtegeCarnet
		{
			margin-top: -25px;
			margin-right: -8px;
		}
		#tapisALanger
		{
			margin-top: 20px;
		}
		#oiseauMusical
		{
			margin-top: 23px;
			margin-left: 10px;
		}
	}
}
