#title
{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
}
body
{
  background-image: url("../images/baby_background.png");
}
.icon
{
	width:10%;
	height: auto;
}
.icon + p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
header
{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: nowrap;
}
.our_story
{
	width:50%;
	height: 656px;
	background: rgba(0, 100, 255, .2)
}
.elem_list
{
	margin: 0 auto;
	width: 70%;
	overflow:auto;
}
.logo-insta
{
	margin-top: 100px;
	width:25px;
	justify-content: center;
}

.cell
{
	margin-top: 28px;
}

.container
{
	display: flex;
	justify-content: center;
}

