// @Author: Clem
// @Date:   2018-02-13T22:06:20+01:00
// @Last modified by:   Clem
// @Last modified time: 2018-02-15T11:36:19+01:00

$primary-color: #fde5ea;
$secondary-color: #668aa3;
$third-color: #f268a8;

$serif: 'Sacramento', cursive;
$sans-serif: 'Nunito', sans-serif;

$text-size-title: 4em;
$text-size-main: 1.5em;
