// @Author: Clem
// @Date:   2018-02-13T11:40:41+01:00
// @Last modified by:   Clem
// @Last modified time: 2018-02-15T19:49:26+01:00
* {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
 background-color: white;
 font-family: $sans-serif;
}

.container{
  width: 90%;
  margin: 0px auto;
}

.button_width{
  width: 200px;
  margin: auto;
}

.button{
  font-size: $text-size-main;
  border: 1px solid $secondary-color;
  border-radius: 50px;
  background-color: $secondary-color;
  padding: 10px 20px;
  color: white;
  margin: 30% auto 0% auto;

  &:hover{
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background-color: white;
  }
}

a{
  color:inherit;
}

a:hover{
  color: inherit;
}

hr{
  width: 20px;
  height: 3px;
  margin-bottom: 2%;
  background-color: black;
}

.drilldown a {
  padding: 0.7rem 1rem;
background: none;}
