// @Author: Clem
// @Date:   2018-02-13T12:30:37+01:00
// @Last modified by:   Clem
// @Last modified time: 2018-02-15T19:37:14+01:00

nav{
  background-color: white;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 30000;
}

.menu_logo_doucedepo{
  li{
    list-style: none;
  }
}

.menu {
    padding: 2% 0%;
    margin: 0;
  ul{
    border-radius: 3px;
  }
  li{
    a{
      font-size: $text-size-main;
      color: black;
    }
  }
}

.button_bag{
  border: 1px solid $third-color;
  border-radius: 30px;
  padding: 0px 10px;
  background-color: $third-color;
}

.button_account{
  border: 1px solid $secondary-color;
  border-radius: 30px;
  padding: 0px 10px;
  background-color: $secondary-color;
}

span{
  color: white;
}
